<?xml version='1.0'?>

<launch>
  <!-- 使用仿真时间 -->
  <param name="/use_sim_time" value="false"/>
  <!-- 启动can驱动 -->
  <include file="$(find socketcan_bridge)/launch/socketcan_bridge.launch"/>
  
  <!-- 启动驱动节点 -->
  <include file="$(find walk_motor_driver)/launch/walk_motor_driver.launch"/>

  <!-- 启动IMU节点 -->
  <include file="$(find lpms_ig1)/launch/lpmsig1_rs485.launch"/>
  
</launch>