<launch>
    <!-- IG1 Sensor node -->
    <!-- <arg name="sensor_name"   default="IG1232C0069004B"/>
    <arg name="baudrate"   default="115200"/> -->
    <node name="ig1_node" pkg="openzen_sensor" type="openzen_sensor_node">
        <!-- <param name="sensor_name"   value="$(arg sensor_name)" />
        <param name="baudrate"   value="$(arg baudrate)" /> -->
        <rosparam file="/opt/robot_data/imu/openzenros.yaml" command="load"/>
        <remap from="/imu/data" to="/raw_imu" />  
    </node>
</launch>
